.aberto {
  display: show;
}
.fechado {
  display: none;
}
.text-bold {
  font-weight: 500;
}
.texto-descricao {
}
.rc-menu-submenu-selected {
    background-color: #ffffff;
}
.rc-menu-item-active, .rc-menu-submenu-active > .rc-menu-submenu-tittle {
  background-color: #ffffff!important;
}
